.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    padding: 14px;
    width: 100%;
    color: black;
    transition: transform 0.3s;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.container .header {
    position: relative;
    border-radius: 8px;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.container .headerImage {
    object-fit: cover;
    object-position: top;
    image-rendering: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content .timeframe {
    font-size: 15px;
    font-weight: bold;
    opacity: 0.8;
}

.content .titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content h1 {
    font-size: 20px;
    line-height: 1.25;
}

.content .description {
    font-size: 14px;
    height: 60px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tools {
    display: flex;
    flex-direction: row-reverse;
    padding: 6px 0;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;
    margin-right: -10px;
    height: 44px;
    width: 44px;
    filter: drop-shadow(2px 4px 5px #00000057);
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .card {
        padding: 12px;
        gap: 6px;
    }
    .container .header {
        height: 120px;
    }
    .content .timeframe {
        font-size: 14px;
    }
    .content h1 {
        font-size: 18px;
    }
    .content .description {
        font-size: 15px;
    }
    .tool {
        height: 38px;
        width: 38px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 420px;
    }
}