:root {
  --PrimaryColor: #3454d1;
  --PrimaryColorHover: #2940a0;
  --BackgroundColor: #121212;
  --ItemBackgroundColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BackgroundColor);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 18px;
}