.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.bubble {
    position: absolute;
    background-color: var(--PrimaryColor);
    filter: blur(50px);
    z-index: -1;
    height: 600px;
    width: 600px;
    border-radius: 600px;
    top: -220px;
    right: -450px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 85%;
    gap: 50px;
}

.container article {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 10px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    gap: 10px;
}

.skill {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    font-weight: 500;
    text-wrap: nowrap;
}

.skill:nth-child(0), .skill:nth-child(1) {
    grid-column: span 2;
}

@media (max-width: 1200px) and (min-width: 781px) {
    .container img {
        height: 300px;
        width: 300px;
    }

    .bubble {
        filter: blur(40px);
        transform: scale(0.6);
        top: -320px;
        right: -320px;
    }
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill {
        font-size: 14px;
        padding: 8px 12px;
        grid-column: span 1;
    }

    .skill:nth-child(0) {
        grid-column: span 2;
    }

    .container img {
        height: 300px;
        width: 300px;
    }

    .bubble {
        filter: blur(30px);
        transform: scale(0.75);
        top: -260px;
        right: -320px;
    }
}