.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 85%;
    gap: 50px;
}

.container article {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 10px;
}

@media (max-width: 1200px) and (min-width: 780px) {
    .container img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img {
        height: 300px;
        width: 300px;
    }
}