.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.bubble {
    position: absolute;
    background-color: var(--PrimaryColor);
    filter: blur(50px);
    z-index: -1;
    height: 600px;
    width: 600px;
    border-radius: 600px;
    left: -350px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 85%;
    gap: 40px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.primaryButton {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--PrimaryColor);
    border-radius: 8px;
    padding: 15px 0;
    max-width: 400px;
    width: 100%;
    font-weight: bold;
}

/* Hover styles */
@media (hover: hover) {
    .primaryButton:hover {
        filter: brightness(0.8);
    }
}

@media (max-width: 1200px) and (min-width: 781px) {
    .projectsList {
        grid-template-columns: repeat(2, 1fr);
    }

    .bubble {
        filter: blur(40px);
        transform: scale(1.2);
        left: -250px;
    }
}

@media (max-width: 780px) {
    .projectsList {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .bubble {
        filter: blur(30px);
        transform: scale(1.2);
        left: -150px;
    }
}