.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 85%;
    gap: 40px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 1200px) and (min-width: 750px) {
    .projectsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .projectsList {
        grid-template-columns: repeat(1, 1fr);
    }
}